<IfModule mod_rewrite.c>
    RewriteEngine On

    # Base de reescritura (Render lo sirve desde la raíz)
    RewriteBase /

    # No reescribir si es un archivo o carpeta real
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Enviar todo a index.php sin parámetros GET extra
    RewriteRule ^ index.php [L,QSA]
</IfModule>
